.correct {
    color: white!important;
    background-color: rgb(30, 153, 5)!important;
}

.wrong {
    color: white!important;
    background-color: #e40606!important;
}

li {
    background-color: blueviolet;
    color: white;
}

li:hover {
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
}